
form {
    display: block;
    text-align: center;
    padding: 20px 0px 40px 0;
    
}

label {
    display: block;
    text-align:center
}

 select{
     width:19em;
 }

input {
    width: 19em;
}

textarea {
    width: 19em;
}
.css {
    padding: 10px 0px 5px 10px
}
.clicking{
    text-align:center
}

.requiredField{
    color: red;
}
