
form {
    display: block;
    text-align: center;
    padding: 20px 0px 40px 0;
}

label {
    display: block;
    text-align:center
}

 select{
     width:19em;
 }

input {
    width: 19em;
}

textarea {
    width: 19em;
}
.css {
    padding: 10px 0px 5px 10px
}
.clicking{
    text-align:center
}

.requiredField {
    color: #AD5248;
}

#dateentered {
    display: flex;
    justify-content: center;
}

.styling_offline_bar > p {
    text-align: center;
    color: white
}

/*
    input field validation
    input:required:valid applies a success state only to required inputs. Because technically, optional inputs are always valid.
    input:focus:valid' and 'input:focus:invalid apply to inputs only when they are focused.
*/

input:invalid {
    border-color: red;
}

input:required {
    border-color: red;
}

input:valid {
    border-color: black;
}

textarea:invalid {
    border-color: red;
}

select:invalid {
    border-color: red;
}
