.filter-container {
  padding-bottom: 0.5em;
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  justify-content: center;
  align-content: space-around;
}

.filter-container * {
  align-self: center;
}

.filter-container p {
  justify-self: end;
  text-align: right;
  margin-bottom: 0;
}

.filter-container :not(p) {
  justify-self: start;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin-left: 0 !important;
}

@media (max-width: 768px) {
  .filter-container {
    grid-template-columns: 0.9fr;
    gap: 4px;
  }
  
  .filter-container p {
    justify-self: start;
    text-align: left;
    margin-bottom: 3px;
    font-size: 0.9em;
  }
  
  .filter-container :not(p) {
    margin-bottom: 3px;
    height: 27px;
    font-size: 0.9em;
  }
  
  .filter-container input, .filter-container select {
    padding: 2px 5px;
  }
}
